@import "_variables";
@import "_functions";
@import "_placeholders";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    width: 375px;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: toRem(63);
    padding: 0 1.5rem;
    padding-top: 0.5rem;
}
.fa-arrow-left {
    font-size: toRem(20);
    color: black;
}
.logo {
    color: black;
    margin-left: auto;
    margin-right: auto;
    img {
        display: flex;
        width: toRem(162);
    }
}
.location {
    height: 3.125rem;
    padding-top: 0.5rem;
    display: flex;
    background-color: #EAEAEA;
    box-shadow: inset 0px 0.25rem 0.25rem -0.25rem rgb(0 0 0 / 40%);
    i {
        padding: 0.5rem 0.5rem 0 6.5rem;
        border-right: 1px solid transparent;
    }
    input {
        height: fit-content;
        border: none;
        padding: 0.5rem;
        background-color: #EAEAEA;
        font-weight: 500;
        font-size: 1rem;
        &:focus {
            box-shadow: inset 0px 0px 0.5rem -2px rgb(0 0 0 / 40%);
            outline: none;
            background: white;
        }
    }
}
.reservation {
    background-color: $bggrey;
    text-align: center;
    border-top: 1px solid $bggrey;
    border-bottom: 1px solid $bggrey;
    &__heading {
        font-weight: 700;
        font-size: 1.5rem;
        padding: 38px 80px 0.75rem 64px;
    }
    p {
        font-weight: 300;
        font-size: 1.125rem;
        padding-left: 0.5rem;
        padding-bottom: 1rem;
    }
}
.btn--pink {
    display: flex;
    width: fit-content;
    margin-top: 0.9375rem;
    margin-left: 5.125rem;
    margin-bottom: 3.5rem;
    font-weight: 500;
    border-radius: 2rem;
    background: $gradient;
    box-shadow: $shadow;
    &:hover {
        @extend %shadow-hover;
        filter: opacity(85%);
    }
    a {
        padding:  0.9375rem 1.3125rem  1rem 1.375rem;
        color: white;
    }
}
.fonctionnement {
    padding: 1.25rem;
    &__heading {
        padding-top: 1.75rem;
        padding-bottom: 0.25rem;
    }
    &__btn {
        display: flex;
        flex-wrap: nowrap;
        background: $bggrey;
        height: 4.6rem;
        width: 20.11rem;
        margin: 1.5rem 0.75rem;
        border-radius: 1rem;
        box-shadow: $shadow;
        .number {
            font-size: 0.875rem;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.5rem;
            height: 1.5rem;
            margin-left: -0.75rem;
            margin-top: 1.75rem;
            background: $primaire;
            border-radius: 50%;
        }
        &:hover {
            @extend %shadow-hover;
            background-color: rgba(147, 86, 220, 0.1);
            i {
                color: $primaire;
            }
        }
    }
    i {
        display: inline;
        text-align: center;
        vertical-align: middle;
        padding-left: 1.5em;
        padding-top: 1.875rem;
        padding-right: 0.875rem;
        color: #7D7D7D;
        &.fa-mobile-alt:before {
            font-size: 1.25rem;
        }
        &.fa-store::before {
            font-size: 1.125rem;
        }
    }
    a {
        font-weight: 500;
        height: 100%;
        padding-top: 1.875rem;
        padding-left: 1.5em;
    }
}
#restaurants {
    padding: 1.25rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid transparent;
    &__heading {
        padding-top: 2.4em;
        padding-bottom: 0.125em;
    }
}
.restaurant-carte {
    display: flex;
    flex-direction: column;
    width: 20.9375rem;
    margin-top: 1.1875rem;
    height: 15.625rem;
    border-radius: 1.25rem;
    box-shadow: $shadow;
    position: relative;
    &:hover {
        @extend %shadow-hover;
    }
    .nouveau {
        position: absolute;
        top: 0.8125rem;
        right: 0.8125rem;
        padding: 0.5em 0.75rem;
        background: $tertiaire;
        color: green;
        font-weight: 500;
        font-size: 0.875rem;
        border-radius: 0.125rem;
    }
    img {
        width: 100%;
        height: 10.875rem;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
        object-position: 100% 100%;
    }
    &__description {
        position: relative;
        @extend %flex-between;
        width: 100%;
        height: 4.75rem;
        color: black;
        background: white;
        border-radius: 0 0 1rem 1rem;
        .text-container {
            width: fit-content;
            padding: 0.75rem;
        }
    }
    &__heading {
        font-size: 1.125rem;
        padding: 0.25rem 0;
    }
    .byline {
        font-size: 1.0625rem;
    }
}
.fa-heart {
    cursor: pointer;
  }
  .heart__container {
    position: relative;
    font-size: 1.5rem;
  }
  .heart_empty, .heart_full {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
  }
  .heart__container:hover > .heart_full {
    opacity: 1;
    transform: scale(1);
  }
  .heart__container:hover > .heart_empty {
    opacity: 0;
    transition: all 400ms ease-in-out;
    transform: scale(0.9);
  }
  .heart_full {
    background: $gradient;
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 500ms;
    transform: scale(0);
    transform-origin: center;
  }
#la-note img {
    object-position: center 62%;
}
footer {
    display: block;
    background: #353535;
    font-weight: 400;
    color: white;
    padding: 1.25rem 1.5rem;
    nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.75rem;
    }
    .logo {
        font-family: 'Shrikhand', cursive;
        font-size: 1.125rem;
        color: white;
        margin: 0;
        padding: 0;
        margin-bottom: 0.75rem;
    }
    a {
        color: white;
        font-size: 1rem;
        line-height: 168%;
    }
    .devenir-partenaire, .proposer-restaurant {
        i {
            padding-right: 0.5rem;
            font-size: 0.875rem;
            align-self: center;
        }
    }
    .devenir-partenaire i {
        font-size: 0.75rem;
        padding-right: 0.25rem;
    }
}
// PAGES
.la-pallette {
            background: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        }
        .la-note {
            background: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        }
        .la-francaise {
            background: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        }
        .le-delice {
            background: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        }
.resto__img {
        width: 100%;
        height: 17.25rem;
        background-size: cover;
        background-position: center;
}

.resto__menu {
    position: relative;
    margin-top: -3.5rem;
    padding-bottom: 1rem;
    width: 100%;
    background: $bggrey;
    border-radius: 2.5rem 2.5rem 0 0;
}
.resto__heading {
    padding-top: toRem(19);
    padding-left: .5rem;
    font-family: 'Shrikhand', cursive;
    font-size: 1.75rem;
    &__container {
        @extend %flex-between;
        padding: 0.75rem;
    }
}
.menu__heading {
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    font-size: 1rem;
    font-weight: 300;
    &:after {
        margin-top: 0.25rem;
        height: 0.1875rem;
        width: 2.5rem;
        background: $tertiaire;
        content: "";
        display: block;
    }
}
.food-carte {
    cursor: pointer;
    @extend %flex-between;
    box-shadow: $shadow;
    flex-direction: row;
    flex-wrap: nowrap;
    background: white;
    border-radius: 1rem;
    width: 21.75rem;
    height: 4.25rem;
    margin: toRem(14) auto;
    &__text {
        margin: toRem(12);
        display: inline-flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__heading {
        font-size: 1.125rem;
        font-weight: 500;
        display: inline-block;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        word-break: break-all;
        text-overflow: ellipsis !important;
    }
    &__description {
        margin-top: toRem(6);
        font-size: toRem(15);
        font-weight: 300;
        display: inline-block;
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    }
    .price-add {
        display: flex;
        position: relative;
        width: fit-content;
    }
    &__price {
        padding-top: toRem(38);
        padding-left: toRem(4);
        padding-right: toRem(20);
        font-weight: 500;
        display: flex;
    }
    &__add__btn {
        height: 100%;
       width: 0;
        display: flex;
        align-items: center;
        justify-content: center;            
        flex-wrap: nowrap;
        background: $tertiaire;
        border-radius: 0 1rem 1rem 0;
        
       transition: 0.4s 0s ease-in-out;

    }
    &__add__icon {
        font-size: toRem(20);
        color: white;
        opacity: 0;
        transition: 0.4s ease-in-out;
    }
    &:hover .food-carte__add__btn {
        opacity: 1;
        width: 3.625rem !important;
    }
    &:hover .food-carte__add__icon {
        opacity: 1;
        transform: rotateZ(360deg);
    }
    &:hover {
        @extend %shadow-hover;
    }
}
.commander {
    margin-top: toRem(51);
    margin-left: auto;
    margin-right: auto;
    width: toRem(186);
    display: flex;
    justify-content: center;
}
