* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    min-width: toRem(375);
    background-color: white;
}
a {
    text-decoration: none;
    width: fit-content;
}

.fonctionnement, #restaurants, footer nav, .resto__menu {
    max-width: toRem(1440);
    margin-left: auto;
    margin-right: auto;
}