footer {
    display: block;
    background: #353535;
    font-weight: 400;
    color: white;
    padding: 1.25rem 1.5rem;
    nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.75rem;
    }
    .logo {
        font-family: "Shrikhand", cursive;
        font-size: 1.125rem;
        color: white;
        margin: 0;
        padding: 0;
        margin-bottom: 0.75rem;
    }
    a {
        color: white;
        font-size: 1rem;
        line-height: 168%;
    }
    .devenir-partenaire,
    .proposer-restaurant {
        i {
            padding-right: 0.5rem;
            font-size: 0.875rem;
            align-self: center;
        }
    }
    .devenir-partenaire i {
        font-size: 0.75rem;
        padding-right: 0.25rem;
    }
}