.reservation {
    background-color: $bggrey;
    text-align: center;
    border-top: 1px solid $bggrey;
    border-bottom: 1px solid $bggrey;
    &__heading {
        font-weight: 700;
        font-size: 1.5rem;
        padding: 38px 80px 0.75rem 64px;
    }
    p {
        font-weight: 300;
        font-size: 1.125rem;
        padding-left: 0.5rem;
        padding-bottom: 1rem;
    }
}